#nav-button{
    display: none;
}

@media (max-width: 700px) {
    #nav-button{
        display: block;
    }

    #nav-menu {
        display: none;
    }

    #nav-menu.show{
        display: block;
    }
}